body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #142320;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

form {
  background-color: #041310;
  padding: 20px;
}

h3 {
  display: flex;
  align-items: center;
  justify-content: center;
}

caption {
  margin-top: 10px;
  padding: 10px;
  font-size: 25px;
  border: 1px solid #ddd;
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even){
  background-color: #373737;
  color: #f2f2f2
}

tr:hover {
  background-color: #427185;
  color: #f2f2f2;
}

th {
  margin-top: 10px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #427185;
  color: white;
}